---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="About | Aleks Vangjelofski"
  description="About Aleks Vangjelofski"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="Biography"
        tagline="Are you curious about me? Scroll down and you can read about myself and my background."
      >
        <img
          width="1553"
          height="873"
          src="/assets/at-work.jpg"
          alt="Aleks Vangjelofski at work with a colleague"
        />
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            I'm Aleks, a versatile professional with a unique blend of technical skills and social science background. My experience spans across roles in software engineering, product and project management, which have allowed me to excel and contribute to different aspects of the tech industry.
          </p>
          <br>
          <p>
            As a software engineer, I've gained proficiency in various modern programming languages and frameworks, including Ruby on Rails, JavaScript, React, and Node.js. My experience in both front-end and back-end development has provided me with a strong understanding of the software development lifecycle.
          </p>
          <br>
          <p>
            In my product roles, I have successfully driven product vision and strategy, ensuring alignment with customer needs and business objectives. My expertise in technology, combined with my social science background, has been invaluable in deliverying products that resonate with users.
          </p>
          <br>
          <p>
            My academic background in social sciences has equipped me with a deep understanding of human behavior and decision-making processes. This knowledge has been instrumental in helping me build effective teams, foster collaboration, and promote innovation in my various professional roles.
          </p>
          <br>
          <p>
            Outside of my professional life, I educate myself with documentaries on all kind of themes: international relations, politics, economy, tech, history, equal rights, diversity, and more.
            My favorite activities are biking and cooking, especially for people I care about.
            When I'm not working, you can find me exploring new destinations or visiting friends around Europe.
            I get easily carried away by philosophical and existentialdiscussions.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <a
            href="https://www.sciencespo.fr/psia/content/master-international-governance-diplomacy.html"
            target="_blank">
            <p>
              Sciences Po Paris, MA in International Governance and Diplomacy, <i>Paris</i>
            </p>
          </a>
          <a href="https://www.sorbonne-universite.fr/education/prepare-your-professional-goals/student-entrepreneruial-training/les-diplomes-en" target="_blank">
            <p>
              Université Sorbonne Paris Nord, Diplôme Étudiant-Entrepreneur, <i>Paris</i>
            </p>
          </a>
          <a href="https://www.lewagon.com/zurich/web-development-course" target="_blank">
            <p>
              Le Wagon, Bootcamp in Web Developoment, <i>Zurich</i>
            </p>
          </a>
        </div>
      </section>

      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <ul>
            <h5>Software</h5>
            <li>
              skill 1
            </li>
            <li>
              skill 2
            </li>
          </ul>
          <br>
          <ul>
            <h5>Product</h5>
            <li>
              Skill 1
            </li>
            <li>
              Skill 2
            </li>
          </ul>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
