---
import BaseLayout from "../layouts/BaseLayout.astro";
// import ContactCTA from "../components/ContactCTA.astro";
---
<BaseLayout title="Credits" description="Website credits">
    <main class="wrapper credits">
      <section>
        <h2 class="section-title">Thank you</h2>
        <div class="content">
          <p><a href="astro.build">Astro for framework and theme</a></p>
          <p><a href="https://phosphoricons.com/">Phosphor Icons for icons</a></p>
          <p>
            <a href="https://openai.com/blog/chatgpt">ChatGPT for assistance</a>
          </p>
        </div>
      </section>
    </main>
  </BaseLayout>

<style>
  .credits {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
    color: var(--gray-200);
  }
  .content a {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    color: var(--gray-200);
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .credits {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .credits > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
