---
import CallToAction from "./CallToAction.astro";
import Icon from "./Icon.astro";
---

<aside>
  <h4>Interested in working together?</h4>
  <CallToAction href="mailto:aleks.vangjelofski@gmail.com">
    Send Me a Message
    <Icon icon="paper-plane-tilt" size="1em" />
  </CallToAction>
</aside>

<style>
  aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 1.5rem;
    background-color: var(--gray-999_40);
    box-shadow: var(--shadow-sm);
  }

  h2 {
    font-size: var(--text-xl);
    text-align: center;
    max-width: 15ch;
  }

  @media (min-width: 50em) {
    aside {
      padding: 2rem;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    h2 {
      font-size: var(--text-xl);
      text-align: left;
    }
  }
</style>
